<div class='top-most-region'>
  <div class="content">
    <div class="replacement">
      <a href='members-request-search'>{{order_replacement_button_text}}</a>
    </div>
    <div class='phone'>+1 (844) 565-7445</div>
  </div>
</div>
<div class='logo'><img src='/themes/srap/logo-{{ lang_code }}.svg' alt='Logo'></div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-center">
      <div class="thankyou-page">
        <div class="order-wrapper">
          <h4>{{order_title}}</h4>
          <a href={{receipt_url}} target="_blank" class="print-receipt">{{print_receipt}}</a>
        </div>
        <p>{{order_number}}</p>
        <p>{{confirmation_email}}</p>
        <div class="order-replacement">
          <a href="members-request-search" class="replacement">{{order_replacement_button_text}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
